{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
<h1>Listado de Solicitudes</h1>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha desde</th>
            <th>Fecha hasta</th>
            <th>Perfil Postulante</th>
            <th>Conocimientos Requeridos</th>
            <th>Nivel Carrera</th>
            <th>Solicitud Atendida</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{% if entity.fechaDesde %}{{ entity.fechaDesde|date('d-m-Y') }}{% endif %}</td>
            <td>{% if entity.fechaHasta %}{{ entity.fechaHasta|date('d-m-Y') }}{% endif %}</td>
            <td>{{ entity.perfilPostulante }}</td>
            <td>{{ entity.conocRequeridos }}</td>
            <td>{{ entity.nivelCarreraCandidato }}</td>
            <td>{{ entity.solicitudAtendida }}</td>
            <td>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('solicitud_show', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                {%endif%}
                {% if is_granted('ROLE_EMPRESA') %}
                <a class="btn btn-default" href="{{ path('solicitud_edit', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                {%endif%}
                {% if is_granted('ROLE_ALUMNO') %}
                <a class="btn btn-default tooltipOn" href="{{ path('solicitud_postularse', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="right" title="" data-original-title="Postularse">
                    <span class="glyphicon glyphicon-pushpin"></span>
                </a>                
                {%endif%}

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="navigation text-center">
    {{ knp_pagination_render(entities) }}
</div>


<div class="pull-right">
    {% if is_granted('ROLE_EMPRESA') %}
    <a class="btn btn-primary" href="{{ path('solicitud_new') }}">
        Crear Nuevo
    </a>
    {%endif%}
</div>

{%endblock%}