<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Curriculum {{curriculum.persona.nombre ~' '~ curriculum.persona.apellido }}</TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.2.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Matias Solis de la Torre">
	<META NAME="CREATED" CONTENT="20140321;19081500">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<META NAME="CHANGED" CONTENT="20140409;18203000">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<META NAME="CHANGEDBY" CONTENT="Matias Solis de la Torre">
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm }
		A:link { so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="es-ES" DIR="LTR">
    {%set foto_perfil = foto_perfil_path~curriculum.persona.path %}
    
<P ALIGN=CENTER STYLE="margin-bottom: 0cm">{% if file_exists(foto_perfil) %} <IMG SRC="{{ foto_perfil }} " NAME="gráficos1" ALIGN=RIGHT WIDTH=141 HEIGHT=133 BORDER=0>{%endif%}<BR CLEAR=RIGHT><U><FONT SIZE=4><B>{{curriculum.persona.nombre}}
{{curriculum.persona.apellido}}</B></U></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{% set domicilio = curriculum.persona.domicilio|first%}</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{%if domicilio %}{{domicilio.calle}}
{{domicilio.numero}} {{domicilio.depto}} {{domicilio.piso}}</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{{domicilio.localidad}}{%endif%}</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>Tel: {{curriculum.persona.telefono}}</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{{curriculum.persona.usuario.mail}}</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><FONT SIZE=3><U><B>Formación
Académica</B></U></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none"><A NAME="__DdeLink__7_859824424"></A>
<FONT SIZE=3>{% for formacionAcademicaSecundaria in
curriculum.persona.formacionAcademicaSecundaria %}</FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
	<FONT SIZE=3>{{formacionAcademicaSecundaria.institucion}}:
	{{formacionAcademicaSecundaria.titulo}}. 
	{{formacionAcademicaSecundaria.egreso}}</FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{% endfor %}</FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none"><A NAME="__DdeLink__4_859824424"></A><A NAME="__DdeLink__7_1240641439"></A>
<FONT SIZE=3>{% for formacionAcademica in
curriculum.persona.formacionAcademica %}</FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
	<FONT SIZE=3>{{formacionAcademica.carrera}}:
	{{formacionAcademica.estadoAvance}}</FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{% endfor %}</FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><FONT SIZE=3><U><B>Experiencia
Profesional</B></U></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{% for antecedenteLaboral in
curriculum.persona.antecedenteLaboral %}</FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none"><A NAME="__DdeLink__16_1240641439"></A>
	<FONT SIZE=3>{{antecedenteLaboral.empresa}}:
	{{antecedenteLaboral.descripcion}}. {{antecedenteLaboral.fechaDesde
	| date ('M-Y')}} - {{antecedenteLaboral.hasta|date ('M-Y')}}</FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{% endfor %}</FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><FONT SIZE=3><U><B>Conocimientos</B></U></FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none"><A NAME="__DdeLink__12_1240641439"></A>
<FONT SIZE=3>{% for conocimiento in curriculum.persona.conocimientos
%}</FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{{conocimiento .campo}}</FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none"><A NAME="__DdeLink__14_1240641439"></A>
	<FONT SIZE=3>{{conocimiento .descripcion}}. {{conocimiento .nivel}}</FONT></P>
</UL>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm; font-weight: normal; text-decoration: none">
<FONT SIZE=3>{% endfor %}</FONT></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><BR>
</P>
</BODY>
</HTML>