{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
{% block stylesheets %}
<link href="{{asset('bundles/theme/css/curriculum.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{asset('bundles/theme/js/curvycorners.src.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/theme/js/selectTab.js')}}"></script>
{% endblock %}
<h1>Curriculum edit</h1>

{#<form action="{{ path('curriculum_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>#}
<form action="{{ path('curriculum_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div id="tabrow">
        <ul>
            <li id="tab0" onclick="tabclick(0);" class="select curvyRedraw">Datos Personales</li>
            <li id="tab1" onclick="tabclick(1);" class="curvyRedraw">Formación Académica</li>
            <li id="tab2" onclick="tabclick(2);" class="curvyRedraw">Conocimientos</li>
            <li id="tab3" onclick="tabclick(3);" class="curvyRedraw">Antecedentes Laborales</li>
                        {#<li id="tab4" onclick="tabclick(4);" class="curvyRedraw">Congresos/Jornadas</li>
                        <!--<li id="tab5" onclick="tabclick(5);" class="curvyRedraw">Cursos Realizados</li>
                        <li id="tab6" onclick="tabclick(6);" class="curvyRedraw">Investigaci&oacute;n</li>
                        <li id="tab7" onclick="tabclick(7);" class="curvyRedraw">Otros Datos</li>
                        <!--<li id="tab8" onclick="tabclick(8);" class="curvyRedraw">Tab 63</li>-->#}
        </ul>
    </div>    
{#{{ form_widget(edit_form) }}#}
    <div id="midbox" class="curvyRedraw">
        <!-- Primera pestaña -->
        <div id="page0" class="subpage">
{{ form_errors(edit_form) }}

            <table width="100%">
                <td align="left">
                    <h3>Datos de la Persona</h3>

                   {{ form_row(edit_form.persona.nombre) }}
                    {{ form_row(edit_form.persona.apellido) }}
                    {{ form_row(edit_form.persona.dni) }}
                    {{ form_row(edit_form.persona.cuit) }}
                    {{ form_row(edit_form.persona.fechaNacimiento) }}
                    {{ form_row(edit_form.persona.file) }}
                </td>
                <td align="right">
                    <img src="../../../foto_perfil/{{entity.persona.path}}"
                         alt="Foto Perfil" width="250" height="250" >
                </td>
            </table>


            <h3>Domicilio</h3>

            <ul class="domicilio" data-prototype="{{ form_widget(edit_form.persona.domicilio.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for domicilios in edit_form.persona.domicilio %}
                            {#<li>{{ form_row(domicilios.calle) }}</li>
                            <li>{{ form_row(domicilios.numero) }}</li>
                            <li>{{ form_row(domicilios.depto) }}</li>
                            <li>{{ form_row(domicilios.piso) }}</li>
                            <li>{{ form_row(domicilios.provincias) }}</li>
                            <li>{{ form_row(domicilios.localidad) }}</li>#}
                <li>{{ form_widget(domicilios) }}</li>
        {% endfor %}
            </ul>

        </div>


        <div id="page1" class="subpage" style="display:none">
            <h3>Datos Academicos</h3>
            <ul class="datos_academicos" data-prototype="{{ form_widget(edit_form.persona.formacionAcademica.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for formacionAcademicas in edit_form.persona.formacionAcademica %}
                                    {#<li>{{ form_row(formacionAcademicas.ingreso) }}</li>
                                    <li>{{ form_row(formacionAcademicas.egreso) }}</li>
                                    <li>{{ form_row(formacionAcademicas.estadoavance) }}</li>
                                    <li>{{ form_row(formacionAcademicas.carrera) }}</li>#}
                <li>{{ form_widget(formacionAcademicas) }}</li>


        {% endfor %}
            </ul>
        </div>

        <div id="page2" class="subpage" style="display:none">
            <h3>Conocimientos</h3>
            <ul class="conocimientos" data-prototype="{{ form_widget(edit_form.persona.conocimientos.vars.prototype)|e }}">
                    {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
                    {% for conocimiento in edit_form.persona.conocimientos %}
                                        {#<li>{{ form_row(conocimiento.subarea) }}</li>
                                        <li>{{ form_row(conocimiento.campo) }}</li>
                                        <li>{{ form_row(conocimiento.nivel) }}</li>#}
                <li>{{ form_widget(conocimiento) }}</li>

                    {% endfor %}
            </ul>
        </div>

        <div id="page3" class="subpage" style="display:none">
            <h3>Antecedentes laborales</h3>
            <ul class="antecedentes_laborales" data-prototype="{{ form_widget(edit_form.persona.antecedente_laboral.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for antecedentes_laborales in edit_form.persona.antecedente_laboral %}
                                            {#<li>{{ form_row(antecedente_laboral.empresa) }}</li>
                                            <li>{{ form_row(conocimiento.fechadesde) }}</li>
                                            <li>{{ form_row(conocimiento.fechahasta) }}</li>
                                            <li>{{ form_row(conocimiento.descripcion) }}</li>
                                            <li>{{ form_row(conocimiento.nombrecontacto) }}</li>
                                            <li>{{ form_row(conocimiento.telcontacto) }}</li>#}
                <li>{{ form_widget(antecedentes_laborales) }}</li>

        {% endfor %}
            </ul>   
        </div>
    </div>
    <div hidden>    {{form_rest(edit_form)}}</div>
    <script type="text/javascript" src="{{asset('bundles/theme/js/jQuery.min.js')}}"></script>
    {% include 'CurriculumBundle:Curriculum:curriculum_jquery_block.html.twig' %}

    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('curriculum_homepage') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('curriculum_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{%endblock%}