{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
{% block stylesheets %}
<link href="{{asset('bundles/theme/css/curriculum.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{asset('bundles/theme/js/curvycorners.src.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/theme/js/selectTab.js')}}"></script>
{% endblock %}
<h1>Modificar Curriculum</h1>

{#<form action="{{ path('curriculum_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>#}
<form class="form-horizontal" action="{{ path('curriculum_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="#datos-personales" data-toggle="tab">Datos Personales</a></li>
        <li><a href="#formacion-academica" data-toggle="tab">Formación Académica</a></li>
        <li><a href="#conocimientos" data-toggle="tab">Conocimientos</a></li>
        <li><a href="#antecedentes-laborales" data-toggle="tab">Antecedentes Laborales</a></li>        
    </ul>    
{#{{ form_widget(form) }}#}
    <div id="myTabContent" class="tab-content">
        <!-- Primera pestaña -->
        <div class="tab-pane fade active in" id="datos-personales">
{{ form_errors(form) }}
            <fieldset>
                <div class="col-lg-6">
                    <legend>Datos de la Persona</legend>

                    {{ form_row(form.persona.nombre) }}
                    {{ form_row(form.persona.apellido) }}
                    {{ form_row(form.persona.dni) }}
                    {{ form_row(form.persona.cuit) }}
                    {{ form_row(form.persona.fechaNacimiento) }}
                    {{ form_row(form.persona.file) }}

                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <img src="../../../foto_perfil/{{entity.persona.path}}"
                         alt="Foto Perfil" width="250" height="250" >
                </div>
            </fieldset>
            <fieldset>
                <div class="col-lg-6">
                    <legend>Domicilio</legend>

                    <ul class="domicilio" data-prototype="{{ form_widget(form.persona.domicilio.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for domicilios in form.persona.domicilio %}                           
                    {{ form_widget(domicilios) }}
        {% endfor %}
                    </ul>
                </div>
            </fieldset>

        </div>


        <div class="tab-pane fade" id="formacion-academica">
            <fieldset>
                <div class="col-lg-6">
                    <legend>Datos Academicos</legend>

                    <ul class="datos_academicos" data-prototype="{{ form_widget(form.persona.formacionAcademica.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for formacionAcademicas in form.persona.formacionAcademica %}
                                    {#<li>{{ form_row(formacionAcademicas.ingreso) }}</li>
                                    <li>{{ form_row(formacionAcademicas.egreso) }}</li>
                                    <li>{{ form_row(formacionAcademicas.estadoavance) }}</li>
                                    <li>{{ form_row(formacionAcademicas.carrera) }}</li>#}
                        {{ form_widget(formacionAcademicas) }}


        {% endfor %}
                    </ul>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="conocimientos">
            <fieldset>
                <div class="col-lg-6">
                    <legend>Conocimientos</legend>
                    <ul class="conocimientos" data-prototype="{{ form_widget(form.persona.conocimientos.vars.prototype)|e }}">
                    {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
                    {% for conocimiento in form.persona.conocimientos %}
                                        {#<li>{{ form_row(conocimiento.subarea) }}</li>
                                        <li>{{ form_row(conocimiento.campo) }}</li>
                                        <li>{{ form_row(conocimiento.nivel) }}</li>#}
                        <li>{{ form_widget(conocimiento) }}</li>

                    {% endfor %}
                    </ul>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="antecedentes-laborales">
            <fieldset>
                <div class="col-lg-6">
                    <legend>Antecedentes laborales</legend>

                    <ul class="antecedentes_laborales" data-prototype="{{ form_widget(form.persona.antecedente_laboral.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for antecedentes_laborales in form.persona.antecedente_laboral %}
                                            {#<li>{{ form_row(antecedente_laboral.empresa) }}</li>
                                            <li>{{ form_row(conocimiento.fechadesde) }}</li>
                                            <li>{{ form_row(conocimiento.fechahasta) }}</li>
                                            <li>{{ form_row(conocimiento.descripcion) }}</li>
                                            <li>{{ form_row(conocimiento.nombrecontacto) }}</li>
                                            <li>{{ form_row(conocimiento.telcontacto) }}</li>#}
                {{ form_widget(antecedentes_laborales) }}

        {% endfor %}
                    </ul>
                </div>
            </fieldset>
        </div>
    </div>
    <div hidden>    {{form_rest(form)}}</div>
    <script type="text/javascript" src="{{asset('bundles/theme/js/jQuery.min.js')}}"></script>
    {% include 'CurriculumBundle:Curriculum:curriculum_jquery_block.html.twig' %}


</form>

<div class="">

    <button class="btn btn-primary" type="submit">Guardar</button>

    <a class="btn btn-default" href="{{ path('curriculum_homepage') }}">
        Volver
    </a>
</div>

{%endblock%}