{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
{% block stylesheets %}
<link href="{{asset('bundles/theme/css/curriculum.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{asset('bundles/theme/js/curvycorners.src.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/theme/js/selectTab.js')}}"></script>
{% endblock %}
<h1>Carga de Curriculum</h1>

{#<form action="{{ path('curriculum_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>#}
<form class="form-horizontal" action="{{ path('curriculum_create') }}" method="post" {{ form_enctype(form) }}>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active"><a href="#datos-personales" data-toggle="tab">Datos Personales</a></li>
        <li><a href="#formacion-academica" data-toggle="tab">Formación Académica</a></li>
        <li><a href="#conocimientos" data-toggle="tab">Conocimientos</a></li>
        <li><a href="#antecedentes-laborales" data-toggle="tab">Antecedentes Laborales</a></li>        
    </ul>    
{#{{ form_widget(form) }}#}
    {% set domicilio_proto %}



    <td>{{ form_widget(form.persona.domicilio.vars.prototype.calle) }}</td>
    <td>{{ form_widget(form.persona.domicilio.vars.prototype.numero) }}</td>
    <td>{{ form_widget(form.persona.domicilio.vars.prototype.depto) }}</td>
    <td>{{ form_widget(form.persona.domicilio.vars.prototype.piso) }}</td>
    <td>{{ form_widget(form.persona.domicilio.vars.prototype.provincia) }}</td>
    <td>{{ form_widget(form.persona.domicilio.vars.prototype.localidad) }}</td>
    <td class="action"></td>


{% endset %}
{% set formacion_proto %}
    <td>{{ form_widget(form.persona.formacionAcademica.vars.prototype.ingreso) }}</td>
    <td>{{ form_widget(form.persona.formacionAcademica.vars.prototype.egreso) }}</td>
    <td>{{ form_widget(form.persona.formacionAcademica.vars.prototype.estadoAvance) }}</td>
    <td>{{ form_widget(form.persona.formacionAcademica.vars.prototype.carrera) }}</td>
    <td class="action"></td>
{% endset %}
{% set conocimientos_proto %}
    <td>{{ form_widget(form.persona.conocimientos.vars.prototype.descripcion) }}</td>
    <td>{{ form_widget(form.persona.conocimientos.vars.prototype.area) }}</td>
    <td>{{ form_widget(form.persona.conocimientos.vars.prototype.subArea) }}</td>
    <td>{{ form_widget(form.persona.conocimientos.vars.prototype.campo) }}</td>
    <td>{{ form_widget(form.persona.conocimientos.vars.prototype.nivel) }}</td>
    <td class="action"></td>
{% endset %}

{% set antecedentes_proto %}

    <td>{{ form_widget(form.persona.antecedente_laboral.vars.prototype.empresa) }}</td>
    <td>{{ form_widget(form.persona.antecedente_laboral.vars.prototype.fechaDesde) }}</td>
    <td>{{ form_widget(form.persona.antecedente_laboral.vars.prototype.hasta) }}</td>
    <td>{{ form_widget(form.persona.antecedente_laboral.vars.prototype.descripcion) }}</td>
    <td>{{ form_widget(form.persona.antecedente_laboral.vars.prototype.nombreContacto) }}</td>
    <td>{{ form_widget(form.persona.antecedente_laboral.vars.prototype.telContacto) }}</td>
    <td class="action"></td>
{% endset %}
    <div id="myTabContent" class="tab-content">
        <!-- Primera pestaña -->
        <div class="tab-pane fade active in" id="datos-personales">
{{ form_errors(form) }}
            <fieldset>

                <div class="col-lg-6">
                    <legend>Datos de la Persona</legend>

                    {{ form_row(form.persona.nombre) }}
                    {{ form_row(form.persona.apellido) }}
                    {{ form_row(form.persona.dni) }}
                    <div class="form-group">
                        {{ form_label(form.persona.cuit ,'CUIT', { 'label_attr': {'class': 'col-lg-2 control-label'} } ) }}
                        <div class="col-lg-10">
                            <div class="input-group">

                    {{ form_widget(form.persona.cuit) }}
                                <span class="input-group-btn">
                                    <button id="calcular" class="btn btn-default" type="button">Calcular</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.persona.fechaNacimiento) }}
                    {{ form_row(form.persona.file) }}
                    {{ form_row(form.persona.telefono) }}

                </div>
                <div class="col-lg-4 col-lg-offset-1">
                   
                </div>
            </fieldset>
            <fieldset>
                <div class="col-lg-15">
                    <legend>Domicilio</legend>                    

                    <table class="domicilio table" data-prototype="{{ domicilio_proto |e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
                        <tbody>
                            <tr>
                                <td><label>Calle </label></td>
                                <td><label>Numero </label></td>
                                <td><label>Depto </label></td>
                                <td><label>Piso </label></td>
                                <td><label>Provincia </label></td>
                                <td><label>Localidad </label></td>
                                <td><label>Accion</label></td>
                            </tr>
        {% for domicilios in form.persona.domicilio %}      

                            <tr>
{#                            {{ form_widget(domicilios) }}#}

                                <td>{{ form_widget(domicilios.calle) }}</td>
                                <td>{{ form_widget(domicilios.numero) }}</td>
                                <td>{{ form_widget(domicilios.depto) }}</td>
                                <td>{{ form_widget(domicilios.piso) }}</td>
                                <td>{{ form_widget(domicilios.provincia) }}</td>
                                <td>{{ form_widget(domicilios.localidad) }}</td>
                                <td class="action"></td>
                            </tr>
        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>

        </div>


        <div class="tab-pane fade" id="formacion-academica">
            <fieldset>
                <div class="col-lg-15">
                    <legend>Datos Academicos</legend>

                    <table class="datos_academicos table" data-prototype="{{ formacion_proto|e }}">
                        <tbody>

                            <tr>
                                <td><label>Ingreso </label></td>
                                <td><label>Egreso </label></td>
                                <td><label>Estado Avance </label></td>
                                <td><label>Carrera </label></td>                            
                                <td>Accion</td>
                            </tr>

        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for formacionAcademicas in form.persona.formacionAcademica %}
                        <td>{{ form_widget(formacionAcademicas.ingreso) }}</td>
                        <td>{{ form_widget(formacionAcademicas.egreso) }}</td>
                        <td>{{ form_widget(formacionAcademicas.estadoAvance) }}</td>
                        <td>{{ form_widget(formacionAcademicas.carrera) }}</td>
                        <td class="action"></td>
{#                        {{ form_widget(formacionAcademicas) }}#}


        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="conocimientos">
            <fieldset>
                <div class="col-lg-15">
                    <legend>Conocimientos</legend>
                    <table class="conocimientos table" data-prototype="{{ conocimientos_proto|e }}">
                        <tbody>

                            <tr>
                                <td><label>Descripcion</label></td>
                                <td><label>Area</label></td>
                                <td><label>Subarea</label></td>
                                <td><label>Campo</label></td>
                                <td><label>Nivel</label></td>
                                <td>Accion</td>
                            </tr>

                    {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
                    {% for conocimiento in form.persona.conocimientos %}
                        <td>{{ form_widget(conocimiento.descripcion) }}</td>
                        <td>{{ form_widget(conocimiento.area) }}</td>
                        <td>{{ form_widget(conocimiento.subArea) }}</td>
                        <td>{{ form_widget(conocimiento.campo) }}</td>
                        <td>{{ form_widget(conocimiento.nivel) }}</td>
                        <td class="action"></td>
{#                        <li>{{ form_widget(conocimiento) }}</li>#}

                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="antecedentes-laborales">
            <fieldset>
                <div class="col-lg-15">
                    <legend>Antecedentes laborales</legend>

                    <table class="antecedentes_laborales table" data-prototype="{{ antecedentes_proto|e }}">
                        <tbody>

                            <tr>
                                <td><label>Empresa</label></td>
                                <td><label>Desde </label></td>
                                <td><label>Hasta</label></td>
                                <td><label>Descripcion</label></td>
                                <td><label>Contacto </label></td>
                                <td><label>Tel. Contacto</label></td>
                                <td>Accion</td>
                            </tr>

        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for antecedentes_laborales in form.persona.antecedente_laboral %}
                        <td>{{ form_widget(antecedentes_laborales.empresa) }}</td>
                        <td>{{ form_widget(antecedentes_laborales.fechaDesde) }}</td>
                        <td>{{ form_widget(antecedentes_laborales.hasta) }}</td>
                        <td>{{ form_widget(antecedentes_laborales.descripcion) }}</td>
                        <td>{{ form_widget(antecedentes_laborales.nombreContacto) }}</td>
                        <td>{{ form_widget(antecedentes_laborales.telContacto) }}</td>
                        <td class="action"></td>
{#                {{ form_widget(antecedentes_laborales) }}#}

        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
    <div hidden>    {{form_rest(form)}}</div>
    <script type="text/javascript" src="{{asset('bundles/theme/js/jQuery.min.js')}}"></script>
    {% include 'CurriculumBundle:Curriculum:curriculum_jquery_block.html.twig' %}

    <div class="">

        <button class="btn btn-primary" type="submit">Guardar</button>

        <a class="btn btn-default" href="{{ path('curriculum_homepage') }}">
            Volver
        </a>
    </div>
</form>


{%endblock%}