{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
<h1>Empresas edit</h1>

{#<form action="{{ path('empresas_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>#}
<form action="{{ path('empresas_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {#{{ form_widget(edit_form) }}#}

        <div id="midbox" class="curvyRedraw">
 {#{{ form_widget(edit_form) }}#}

{{ form_errors(edit_form) }}
            {#{{ form_label(edit_form) }}#}
            {#{{ form_errors(edit_form) }}
            {{ form_widget(edit_form) }}#}
            {{ form_row(edit_form.nombreEmpresa) }}
            {{ form_row(edit_form.personaContacto) }}
            {{ form_row(edit_form.telContacto) }}
            {{ form_row(edit_form.mailContacto) }}
            {{ form_row(edit_form.paginaWeb) }}
                {#{% set  domic = domicilio_original %}
                {{domic[0]}}#}
                {#{% set i=0 %}
                {% for domicilio in domicilio_original %}

                    {% set domic= domic|merge({ (loop.index0): 'domicilio.id'}) %}
                {{ domic }}
                    {% set i=i+1 %}
                {% endfor %}#}

                {#{% set i=0 %}
                {% for domicilio in domicilio_original %}
                
                {% set domic[ {{ loop.index }} ] = domicilio.id %}
                {% set i=i+1 %} 
                {% endfor %}#}
                {#{{domic[0].id}}#}
               {# {% for domicilio in domicilio_original %}
            {{ domicilio.id }}     
                {% endfor %}#}

{#{{form_rest(edit_form)}}#}
              {#  {% for domicilios in edit_form.domicilio %}
                        {#{{ form_row(domicilios.calle) }}
                        {{ form_row(domicilios.numero) }}
                        {{ form_row(domicilios.depto) }}
                        {{ form_row(domicilios.piso) }}
                        
                        {{ form_widget(domicilios) }}

                    {#<li>{{ form_widget(domicilios) }}</li>

        {% endfor %}#}

            {#<h3>Domicilio</h3>#}
                <ul class="domicilio" data-prototype="{{ form_widget(edit_form.domicilio.vars.prototype)|e }}">
        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
        {% for domicilios in edit_form.domicilio %}

   {#<li>{{ form_row(domicilios.calle) }}</li>
                    <li>{{ form_row(domicilios.numero) }}</li>
                    <li>{{ form_row(domicilios.depto) }}</li>
                    <li>{{ form_row(domicilios.piso) }}</li>
                    <li>{{ form_row(domicilios.localidad) }}</li>#}
                        <li>{{ form_widget(domicilios) }}</li>


        {% endfor %}
                        {{form_rest(edit_form)}}
                    </ul> 
                </div>
                <script >
                    // Obtiene el div que contiene la colección de etiquetas
                    //var collectionHolder = $('#content_data ul');
                    var domicilioCount = $("div[id*='empresas_domicilio_domicilio']").size();
                    
                    $('#midbox ul').each(function(i, e) {
                        var collectionHolder = $(e);

                        // configura una enlace "Agregar una etiqueta"
                        var $addTagLink = $('<a href="#" class="add_link">Agregar</a>');
                        var $newLinkLi = $('<li></li>').append($addTagLink);



                        jQuery(document).ready(function() {
                            collectionHolder.find('li').each(function() {
                                addTagFormDeleteLink($(this));
                            });

                            // Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
                            collectionHolder.append($newLinkLi);

                            $addTagLink.on('click', function(e) {
                                // evita crear el enlace con una "#" en la URL
                                e.preventDefault();

                                // añade una nueva etiqueta form (ve el siguiente bloque de código)
                                addTagForm(collectionHolder, $newLinkLi);
                            });
                        });

                    });
                    function addTagForm(collectionHolder, $newLinkLi) {
                        if (collectionHolder.attr('class') == 'domicilio') {
                            domicilioCount++;
                            if (domicilioCount > 2) {
                                domicilioCount--;
                            
                                return false;
                            }
                        }

                        // Obtiene el data-prototype explicado anteriormente
                        var prototype = collectionHolder.attr('data-prototype');

                        // cuenta las entradas actuales en el formulario (p. ej. 2),
                        // lo usa como el nuevo índice (p. ej. 2)
                        var newIndex = collectionHolder.find(':input').length;


                        // Reemplaza el '__name__' en el prototipo HTML para que
                        // en su lugar sea un número basado en cuántos elementos hay
                        var newForm = prototype.replace(/__name__/g, newIndex);

                        // Muestra el formulario en la página en un elemento li,
                        // antes del enlace 'Agregar una etiqueta'
                        var $newFormLi = $('<li></li>').append(newForm);
                        $newLinkLi.before($newFormLi);

                        addTagFormDeleteLink($newFormLi);
                    }

                    function addTagFormDeleteLink($tagFormLi) {
                        var $removeFormA = $('<a href="#" class="close">Eliminar</a>');
                        $tagFormLi.append($removeFormA);

                        $removeFormA.on('click', function(e) {
                            // evita crear el enlace con una "#" en la URL
                            e.preventDefault();

                            // quita el li de la etiqueta del formulario
                            $tagFormLi.remove();


                            domicilioCount--;


                        });
                    }



                    $(document).on('change', '.province_selector', function() {
                        var $this = $(this);

                        var data = {
                            province_id: $this.val(),
                        };

                        $.ajax({
                            type: 'post',
                            url: '{{ path("select_localidades") }}',
                            data: data,
                            success: function(data) {

                                var $address = $this.closest('.domicilio');
                                $address.find('.city_selector').html(data);
                            }
                        });
                    });

                    /*$(document).on('click', '.close', function() {
                     $(this).closest('.domicilio').fadeOut(500, function() {
                     alert("hola");
                     $(this).remove();
                     });
                     });*/
                    </script>
                    <p>
                        <button type="submit">Edit</button>
                    </p>
                </form>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('empresas') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <form action="{{ path('empresas_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    </ul>
{%endblock%}