{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
<h1>Localidades list</h1>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nomblocalidad</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('pasantias_localidades_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombreLocalidad }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('pasantias_localidades_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pasantias_localidades_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>

<a class="btn btn-primary" href="{{ path('pasantias_localidades_new') }}">
    Crear Nuevo
</a>

{%endblock%}