{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
<h1>Carrera list</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Plan</th>
            <th>Duracion</th>
            <th>Cantidad Materias</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.plan }}</td>
            <td>{{ entity.duracion }}</td>
            <td>{{ entity.cantidadMaterias }}</td>
            <td>

                <a class="btn btn-default" href="{{ path('carrera_edit', { 'id': entity.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>                                

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation text-center">
    {{ knp_pagination_render(entities) }}
</div>

<div class="pull-right">
    <a class="btn btn-primary" href="{{ path('carrera_new') }}">
        Crear Nuevo
    </a>
</div>


{%endblock%}