{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}
{{parent ()}}
<form class="form-horizontal" action="{{ path('usuarios_change_password')}}" method="post" {{ form_enctype(form) }}>
    <legend>Cambiar Contraseña</legend>
    <fieldset>
                    {{form_errors(form)}}
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword) }}
        {{ form_rest(form) }}
                        
    </fieldset>

    <div class="modal-footer">        
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        <a class="btn btn-default" href="{{ path('pasantias_homepage') }}">
            Volver
        </a>
        
    </div>
</form>


{%endblock%}