{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block contenido %}

<form class="form-horizontal" action="{{ path('usuarios_create') }}" method="post" {{ form_enctype(form) }}>
 <fieldset>
        <legend>Alta de Usuarios</legend>
        {{form_errors(form)}}
        {{ form_row(form.usuario) }}
        {{ form_row(form.mail) }}        
        {{ form_row(form.perfil) }}
    </fieldset>
    {{form_row(form._token)}}
    <div class="pull-right">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-default" href="{{ path('usuarios') }}">
            Volver
        </a>

    </div>
</fieldset>
</form>


{%endblock%}